*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(45,99,235,255);
}

.container-header{
    height: 700px;
}

main{
    background-color: gold;
    height: 5000px;
    width: 1950px;
    margin-left: auto;
    margin-right: auto;
}

.banner{
    background-color: red;
    height: 700px;
    width: 1950px;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;

}


.nav-section{
    height: 100px;
    display: flex;
    justify-content: space-between;
}


.logo{
    background-color: orange;
    height: 100px;
    flex-basis: 20%;
}

.main-nav{
    background-color: rgb(255, 0, 225);
    height: 100px;
    flex-basis: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.botton-accedi{
    background-color: rgb(123, 255, 0);
    height: 100px;
    flex-basis: 20%;
}


.main-text{
    background-color: aqua;
    height: 300px;
    width:  1100px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.description, .main-botton{
    padding-top: 50px;
}

.main-botton{
    width: 250px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

a{
    background-color: brown;
}

.container-main1, .container-main2, .container-main3{
    background-color: rgb(238, 238, 238);
    height: 700px;
    padding-left: 230px;
    padding-right: 230px;
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.container-main2{
    background-color: rgb(207, 207, 207); 
}

.container-main3{
    background-color: rgb(120, 120, 120);
}

.container-main4{
    background-color: rgb(84, 83, 83);
    height: 1200px;
    padding-left: 230px;
    padding-right: 230px;
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.box1, .box2, .box3{
    background-color: aquamarine;
    flex-basis: 45%;
    text-align: center;
}

.foto-box1, .foto-box2, .foto-box3{
    background-color: blueviolet;
    flex-basis: 55%;
}







    
